.lightTank {
  background-image: url("assets/icons/lightTank.jpg");
}
.mediumTank {
  background-image: url("assets/icons/mediumTank.jpg");
}
.heavyTank {
  background-image: url("assets/icons/heavyTank.jpg");
}
.mobileAntitank {
  background-image: url("assets/icons/mobileAntitank.jpg");
}
.conscripts {
  background-image: url("assets/icons/conscripts.jpg");
}
.fieldMedics {
  background-image: url("assets/icons/fieldMedics.jpg");
}
.regulars {
  background-image: url("assets/icons/regulars.jpg");
}
.snipers {
  background-image: url("assets/icons/snipers.jpg");
}
.guards {
  background-image: url("assets/icons/guards.jpg");
}
